/* HTML: <div class="loader"></div> */

.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  position: fixed; /* Make the loader positioned absolutely */
  top: 50%; /* Position vertically at 50% */
  left: 50%; /* Position horizontally at 50% */
  transform: translate(-50%, -50%); /* Offset to center within viewport */
  transform: translateY(100%); /* Optional: Move the loader down initially */
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  transform-origin: bottom;
  position: relative;
}

.loader::before {
  background: radial-gradient(at 30% 30%, #0000, #000a) red;
  transform: scaleY(0.65);
  top: 0;
  animation: l11-1, l11-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 400, 1, 400), ease;
  animation-iteration-count: infinite;
}

.loader::after {
  background: #ccc;
  filter: blur(8px);
  transform: scaleY(0.3) translate(0px, 0px);
  left: 0;
  animation: l11-3 2s cubic-bezier(0, 400, 1, 400) infinite;
}

@keyframes l11-1 {
  100% {
    top: -0.2px;
  }
}

@keyframes l11-2 {
  4%,
  96% {
    transform: scaleY(1);
  }
}

@keyframes l11-3 {
  100% {
    transform: scaleY(0.3) translate(0.1px, -0.1px);
  }
}
